<h1>name: Carlos </h>
<p>
	<b>Autor : </b>
     Johnny Appleseed
	 date: 04-05-2016
</p>
<% if Date.today.tuesday? %>
   <p>

   	Izzy Ironside is <strong>NOT</strong>
   	a fan of Tuesday like today.
   </p>
 <% end %>
  <p>

   	Izzy Ironside is was born on
   	<%= Date.today %>.
   </p>
 <h1> Welcome page ! </h1>
 <%= @var_user %>
