<h1>New Task</h1>
 

  
<body>
  
<!-- views/add.erb -->
<h1></h1>


<form action= "add_task" method = "POST">
<!--<label for= "number1">first number: </label>-->
<input type="text" name="content" placeholder="task"> 
<button type="submit">add task</button>

</form>
