<h1>Welcome to the Movie Game</h1>
 <body>
<h3>Which one was filmed in 1997?</h3>
<h3>click one picture</h3>

    <p> 
    <% @array_valid_movies.each do |aux_array_movie| %>

                    <% if aux_array_movie.poster == @correct_url %>
                        <img src="<%= aux_array_movie.poster %>"
                             alt="<%= aux_array_movie.title %>"
                             onclick="alert('Correct!')" width="200" height="400">
                    <% else %>
                        <img src="<%= aux_array_movie.poster %>"
                             alt="<%= aux_array_movie.title %>"
                             onclick="alert('Wrong! Guess again!')" width="200" height="400">
                    <% end %>   
    <%end%>
    </p>   
</body>